.game-end-background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background: rgba(0, 0, 0, 0.4);
}

.game-end-alert {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: monospace;
  font-size: 24px;
  z-index: 2;
  text-align: center;
}

.game-end-acknowledgement {
  border: none;
  outline: none;
  font-size: 18px;
  background: white;
  color: #151515;
  padding: 8px 48px;
  margin-top: 24px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}