.cell {
    height: 25px;
    width: 25px;
    border: 1px solid grey;
    background-color: white;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-size: 18px;
}

.cell:hover {
    background-color: #92BCEA;
    cursor: pointer;
}

.cell-mine {
    background-color: red;
    border: 1px solid red;
}

.cell-value-1 {
    color: blue;
}

.cell-value-2 {
    color: green;
}

.cell-value-3 {
    color: red;
}

.cell-value-4 {
    color: indigo;
}

.cell-value-5 {
    color: purple;
}

.cell-value-6 {
    color: teal;
}

.cell-value-7 {
    color: black;
}

.cell-value-8 {
    color: grey;
}